In [122]:
# import files from Steve
import pandas as pd
import numpy as np
import util

enrollment_path = './data/ca/enrollment/'

df = pd.read_csv(enrollment_path + 'ca_enrollment.csv', na_values=['N/A'])

In [123]:
print(df.columns)
print(df.head())

Index(['districtname', 'schoolname', 'year', 'grade', 'num', 'group',
       'districtid', 'schoolid'],
      dtype='object')
                         districtname           schoolname  year grade  num  \
0  Alameda County Office of Education  FAME Public Charter  1415     1   53
1  Alameda County Office of Education  FAME Public Charter  1415    10   22
2  Alameda County Office of Education  FAME Public Charter  1415    11   16
3  Alameda County Office of Education  FAME Public Charter  1415    12    7
4  Alameda County Office of Education  FAME Public Charter  1415     2   34

              group  districtid  schoolid
0  English Learners       10017    109835
1  English Learners       10017    109835
2  English Learners       10017    109835
3  English Learners       10017    109835
4  English Learners       10017    109835

In [124]:
# rename columns
df = df.rename(columns= {
    'schoolid': 'school_id',
    'districtid': 'district_id',
    'districtname': 'district',
    'schoolname': 'school',
    'group': 'group_state'
})

In [117]:
# drop null rows
print(df.shape)
df = df.dropna(subset=['num'])
df = df[df['num'] != 0]
print(df.shape)

(6967566, 8)
(2235695, 8)

In [118]:
# fill in n/a values for grade with 'All Grades' and group with 'All Students'
df['grade'] = df['grade'].fillna(value='All Grades')
df['group_state'] = df['group_state'].fillna(value='All Students')

In [119]:
# fix field types/drop null values
print(df.dtypes)
df['district_id'] = df['district_id'].astype(str)
df['school_id'] = df['school_id'].astype(str)
df['year'] = df['year'].astype(str)
print(df.dtypes)

district       object
school         object
year            int64
grade          object
num             int64
group_state    object
district_id     int64
school_id       int64
dtype: object
district       object
school         object
year           object
grade          object
num             int64
group_state    object
district_id    object
school_id      object
dtype: object

In [120]:
# fix year field
df['year'] = ['20' + x[2:] for x in df['year']]
print(df.year.drop_duplicates())

0         2015
144796    2016
292636    2017
441241    2018
590131    2019
Name: year, dtype: object

In [121]:
# export file
df.to_csv('./data/finalized/ca_enrollment.csv', index=False)