In [3]:
# import files from Steve
import pandas as pd
import numpy as np
import util

enrollment_path = './data/dc/enrollment/'

df = pd.read_csv(enrollment_path + 'dc_enrollment.csv', dtype={'year':str,'district_id':str,'district':str,'school_id':str,'school':str,'grade':str,'group_state':str,'num':str})

In [4]:
# convert num to int
def toFloat(row, column):
    try:
        return float(row[column])
    except:
        return np.nan
df['num'] = df.apply(lambda x: toFloat(x, 'num'), axis = 1)

year  group_state
2010  All Students    104595.000000
      Black            53206.000000
      Econ Disad       36156.000000
      Latino            9464.000000
      White             4355.000000
2011  All Students    117815.000000
      Black            54873.000000
      Econ Disad       46095.000000
      Latino            9926.000000
      White             4792.000000
2012  All Students    122123.000000
      Black            57175.000000
      Econ Disad       46175.000000
      Latino           11005.000000
      White             5520.000000
2013  All Students    125058.000000
      Black            58725.000000
      Econ Disad       45779.000000
      Latino           12267.000000
      White             6164.000000
2014  All Students    143950.000000
      Black            59896.000000
      Econ Disad       61694.000000
      Latino           13119.000000
      White             6751.000000
2015  All Students    170438.000000
      Black            53649.590487
      Econ Disad       39746.000000
      Latino           11273.519999
      White             7593.229952
2016  All Students    163772.000000
      Black            54789.000000
      Econ Disad       62997.000000
      Latino           12276.000000
      White             8250.000000
2017  All Students    168862.000000
      Black            54724.000000
      Econ Disad       65144.000000
      Latino           13428.000000
      White             8760.000000
2018  All Students    198248.000000
      Black            66293.450390
      Econ Disad       45668.179832
      Latino           18920.720048
      White             9983.310013
2019  All Students    197768.000000
      Black            64739.870412
      Econ Disad       46140.909853
      Latino           19064.010018
      White            10814.960134
Name: num, dtype: float64

In [5]:
# drop null rows
print(df.shape)
df = df.dropna(subset=['num'])
df = df[df['num'] != 0]
print(df.shape)

(23684, 8)
(21606, 8)

In [6]:
# round num
df['num'] = df.apply(lambda x: int(round(x['num'])), axis = 1)

year  group_state
2010  All Students    104595
      Black            53206
      Econ Disad       36156
      Latino            9464
      White             4355
2011  All Students    117815
      Black            54873
      Econ Disad       46095
      Latino            9926
      White             4792
2012  All Students    122123
      Black            57175
      Econ Disad       46175
      Latino           11005
      White             5520
2013  All Students    125058
      Black            58725
      Econ Disad       45779
      Latino           12267
      White             6164
2014  All Students    143950
      Black            59896
      Econ Disad       61694
      Latino           13119
      White             6751
2015  All Students    170438
      Black            53644
      Econ Disad       39746
      Latino           11275
      White             7591
2016  All Students    163772
      Black            54789
      Econ Disad       62997
      Latino           12276
      White             8250
2017  All Students    168862
      Black            54724
      Econ Disad       65144
      Latino           13428
      White             8760
2018  All Students    198248
      Black            66302
      Econ Disad       45663
      Latino           18919
      White             9982
2019  All Students    197768
      Black            64735
      Econ Disad       46141
      Latino           19061
      White            10820
Name: num, dtype: int64

In [7]:
print(df.dtypes)
df['num'] = df['num'].astype('int64')
print(df.dtypes)

year           object
district_id    object
district       object
school_id      object
school         object
grade          object
group_state    object
num             int64
dtype: object
year           object
district_id    object
district       object
school_id      object
school         object
grade          object
group_state    object
num             int64
dtype: object

In [9]:
# export file
df.to_csv('./data/finalized/dc_enrollment.csv', index=False)