In [41]:
import pandas as pd
import numpy as np

# initialize state list
states = [
    'ca',
#     'co',
    'dc',
#     'ks',
    'la',
    'ma',
#     'mn',
    'mo',
    'nj',
    'pa',
#     'tn',
    'tx'
]

finalized_path = './data/finalized/'

# import enrollment files
df_e = pd.DataFrame()

for state in states:
    try:
        temp = pd.read_csv(finalized_path + state + '_enrollment.csv',dtype={'year': str,'district_id': str,'district': str,'school_id': str,'school': str,'grade': str,'group_state': str,'num': np.int64})
        print('Importing ' + state)
    except: 
        print('No enrollment file for ' + state)
        continue
    temp['state'] = state
    df_e = df_e.append(temp, ignore_index = True, sort = True)

print(df_e.dtypes)
print(df_e.head())

Importing ca
Importing dc
Importing la
Importing ma
Importing mo
Importing nj
Importing pa
Importing tx
district       object
district_id    object
grade          object
group_state    object
num             int64
school         object
school_id      object
state          object
year           object
dtype: object
                             district district_id grade       group_state  \
0  Alameda County Office of Education         170     1  English Learners
1  Alameda County Office of Education         170    10  English Learners
2  Alameda County Office of Education         170    11  English Learners
3  Alameda County Office of Education         170    12  English Learners
4  Alameda County Office of Education         170     2  English Learners

   num               school school_id state  year
0   53  FAME Public Charter    109835    ca  2015
1   22  FAME Public Charter    109835    ca  2015
2   16  FAME Public Charter    109835    ca  2015
3    7  FAME Public Charter    109835    ca  2015
4   34  FAME Public Charter    109835    ca  2015

In [42]:
# import proficiency files
df_p = pd.DataFrame()

for state in states:
    try:
        temp = pd.read_csv(finalized_path + state + '_proficiency.csv',dtype={'year': str,'district_id': str,'district': str,'school_id': str,'school': str,'grade': str,'group_state': str,'subject': str,'proficient_tf': bool,'num_at_level': np.float64,'num_tested': np.float64,'pct_at_level': np.float64})
    except:
        print('No proficiency file for ' + state)
        continue
    temp['state'] = state
    df_p = df_p.append(temp, ignore_index = True, sort = True)

print(df_p.dtypes)
print(df_p.head())

district              object
district_id           object
grade                 object
group_state           object
num_at_level         float64
num_tested           float64
pct_at_level         float64
performance_level     object
proficient_tf           bool
school                object
school_id             object
state                 object
subject               object
year                  object
dtype: object
              district district_id grade   group_state  num_at_level  \
0  Fame Public Charter       10017    11  All Students         16.24
1  Fame Public Charter       10017    11  All Students          2.75
2  Fame Public Charter       10017     3  All Students         19.36
3  Fame Public Charter       10017     3  All Students         17.28
4  Fame Public Charter       10017     4  All Students         33.30

   num_tested  pct_at_level performance_level  proficient_tf  \
0        56.0          0.29                ME           True
1        55.0          0.05                ME           True
2        88.0          0.22                ME           True
3        64.0          0.27                ME           True
4        90.0          0.37                ME           True

                school school_id state subject  year
0  Fame Public Charter    109835    ca     ELA  2015
1  Fame Public Charter    109835    ca    Math  2015
2  Fame Public Charter    109835    ca     ELA  2015
3  Fame Public Charter    109835    ca    Math  2015
4  Fame Public Charter    109835    ca     ELA  2015

In [43]:
grouped_by = ['year', 'state', 'group_state', 'grade']
proficiency_dedupe = df_p.groupby(grouped_by, as_index = False)['num_at_level'].sum()
enrollment_dedupe = df_e.groupby(grouped_by, as_index = False)['num'].sum()
print(proficiency_dedupe['state'].drop_duplicates())
print(enrollment_dedupe['state'].drop_duplicates())

0       mo
414     ma
712     tx
1212    dc
1861    ca
2246    la
2795    pa
5178    nj
Name: state, dtype: object
0       pa
48      la
222     ma
278     tx
404     dc
631     ca
1271    mo
1725    nj
Name: state, dtype: object

In [44]:
grouped_by = ['state', 'district_id', 'district', 'school_id', 'school']
df_p[grouped_by].drop_duplicates().to_csv('data/distinct_state_district_school.csv')

In [45]:
grouped_by = ['year', 'state', 'subject', 'grade']
subject_dedupe = df_p.groupby(grouped_by, as_index = False)['num_at_level'].sum()

In [46]:
enrollment_dedupe.to_csv('data/distinct_groups_grades_enrollment.csv')
proficiency_dedupe.to_csv('data/distinct_groups_grades_proficiency.csv')

In [47]:
subject_dedupe.to_csv('data/distinct_subject_grades_proficiency.csv')