In [20]:
import pandas as pd
import numpy as np
import util

enrollment_path = './data/la/enrollment/'

enrollment_files = [
    'la_enrollment_2010_cleaned.csv'
    , 'la_enrollment_2011_cleaned.csv'
    , 'la_enrollment_2012_cleaned.csv'
    , 'la_enrollment_2013_cleaned.csv'
    , 'la_enrollment_2014_cleaned.csv'
    , 'la_enrollment_2015_cleaned.csv'
    , 'la_enrollment_2016_cleaned.csv'
    , 'la_enrollment_2017_cleaned.csv'
    , 'la_enrollment_2018_cleaned.csv'
    , 'la_enrollment_2019_cleaned.csv'
]

years = [x[14:18] for x in enrollment_files]

df = pd.read_csv(enrollment_path + enrollment_files[0])
df['year'] = df.apply(lambda x: years[0], axis=1)

for i in range(1, len(enrollment_files)):
    df2 = pd.read_csv(enrollment_path + enrollment_files[i])
    df2['year'] = df2.apply(lambda x: years[i], axis=1)
    df = df.append(df2, ignore_index = True, sort = True)

# rename columns
df = df.rename(columns = {
    'LEA': 'district_id',
    'District / Agency Name': 'district',
    'Site Code': 'school_id',
    'School or Site Name': 'school',
    'Total Reported Students': 'All Groups'
})

# remove total rows
df = df[df['school'] != 'Total']

print(df.columns)
df.to_csv('temp.csv')

Index(['% Female', '% Free/Reduced Lunch', '% Fully Proficient',
       '% Limited Eng Prof', '% Male', '**Hawaiian/Pacific Islander',
       '**Multiple Races (Non-Hispanic)', 'American Indian', 'Asian', 'Black',
       'Charter Type', 'district', 'Federal Reporting Site Code', 'Grade 1',
       'Grade 10', 'Grade 11', 'Grade 12', 'Grade 2', 'Grade 3', 'Grade 4',
       'Grade 5', 'Grade 6', 'Grade 7', 'Grade 8', 'Grade 9', 'Grade T9',
       'Hispanic', 'Infants (Sp. Ed.)', 'Kindergarten', 'district_id',
       'Minority', 'Nonprofit Organization', 'Parish Code', 'Pre-K (Reg Ed)',
       'Pre-School (Sp Ed)', 'School System Roll Up Type', 'school',
       'school_id', 'All Groups', 'White', 'year'],
      dtype='object')

In [21]:
# split into grade/group files
grade_columns = ['year', 'district_id', 'district', 'school_id', 'school', 'Grade 1', 'Grade 10', 'Grade 11', 'Grade 12', 'Grade 2', 'Grade 3', 'Grade 4', 'Grade 5', 'Grade 6', 'Grade 7', 'Grade 8', 'Grade 9', 'Grade T9', 'Infants (Sp. Ed.)', 'Kindergarten', 'Pre-K (Reg Ed)', 'Pre-School (Sp Ed)']

group_columns = ['year', 'district_id', 'district', 'school_id', 'school', '% Free/Reduced Lunch', '% Fully Proficient', '% Limited Eng Prof', '**Hawaiian/Pacific Islander', '**Multiple Races (Non-Hispanic)', 'American Indian', 'Asian', 'Black', 'White', 'All Groups', 'Hispanic']

df_grade = df[grade_columns]
df_group = df[group_columns]

df_grade['group_state'] = 'All Groups'
df_group['grade'] = 'All Grades'
print(df_grade.columns)
print(df_group.columns)

Index(['year', 'district_id', 'district', 'school_id', 'school', 'Grade 1',
       'Grade 10', 'Grade 11', 'Grade 12', 'Grade 2', 'Grade 3', 'Grade 4',
       'Grade 5', 'Grade 6', 'Grade 7', 'Grade 8', 'Grade 9', 'Grade T9',
       'Infants (Sp. Ed.)', 'Kindergarten', 'Pre-K (Reg Ed)',
       'Pre-School (Sp Ed)', 'group_state'],
      dtype='object')
Index(['year', 'district_id', 'district', 'school_id', 'school',
       '% Free/Reduced Lunch', '% Fully Proficient', '% Limited Eng Prof',
       '**Hawaiian/Pacific Islander', '**Multiple Races (Non-Hispanic)',
       'American Indian', 'Asian', 'Black', 'White', 'All Groups', 'Hispanic',
       'grade'],
      dtype='object')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [22]:
def calcNum(row, columnName):
    return round(float(str(row[columnName]).replace('%','')) / 100.0 * float(str(row['All Groups']).replace(',','')))

df_group['Free/Reduced Lunch'] = df_group.apply(lambda x: calcNum(x, '% Free/Reduced Lunch'), axis = 1)
df_group['Fully Proficient'] = df_group.apply(lambda x: calcNum(x, '% Fully Proficient'), axis = 1)
df_group['Limited Eng Prof'] = df_group.apply(lambda x: calcNum(x, '% Limited Eng Prof'), axis = 1)
print(df_group.head(5))

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

   year district_id       district school_id  \
0  2010           1  Acadia Parish      1001
1  2010           1  Acadia Parish      1002
2  2010           1  Acadia Parish      1003
3  2010           1  Acadia Parish      1004
4  2010           1  Acadia Parish      1005

                              school % Free/Reduced Lunch % Fully Proficient  \
0            Armstrong Middle School                80.67              99.72
1           Branch Elementary School                56.13              99.63
2  Central Rayne Kindergarten School                81.08              98.65
3     Church Point Elementary School                87.39              98.98
4           Church Point High School                59.68                100

  % Limited Eng Prof  **Hawaiian/Pacific Islander  \
0               0.28                            0
1               0.37                            0
2               1.35                            0
3               1.02                            0
4                  0                            0

  **Multiple Races (Non-Hispanic) American Indian Asian Black White  \
0                               0               1     0   171   182
1                               0               1     0    61   205
2                               0               0     0    89   126
3                               0               0     0   280   294
4                               0               3     1   119   311

  All Groups Hispanic       grade  Free/Reduced Lunch  Fully Proficient  \
0        357        3  All Grades                 288               356
1        269        2  All Grades                 151               268
2        222        7  All Grades                 180               219
3        587       13  All Grades                 513               581
4        444       10  All Grades                 265               444

   Limited Eng Prof
0                 1
1                 1
2                 3
3                 6
4                 0

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
# # reshape grade file
id_vars = ['year', 'district_id', 'district', 'school_id', 'school', 'group_state']
value_vars = ['Grade 1', 'Grade 10', 'Grade 11', 'Grade 12', 'Grade 2', 'Grade 3', 'Grade 4', 'Grade 5', 'Grade 6', 'Grade 7', 'Grade 8', 'Grade 9', 'Grade T9', 'Infants (Sp. Ed.)', 'Kindergarten', 'Pre-K (Reg Ed)', 'Pre-School (Sp Ed)']
df_grade = pd.melt(df_grade, id_vars=id_vars, value_vars=value_vars, var_name='grade', value_name='num')

# remove zeros
df_grade = df_grade[df_grade['num'] != '0']
print(df_grade.head(5))

   year district_id       district school_id  \
0  2010           1  Acadia Parish      1001
1  2010           1  Acadia Parish      1002
2  2010           1  Acadia Parish      1003
3  2010           1  Acadia Parish      1004
4  2010           1  Acadia Parish      1005

                              school group_state    grade num
0            Armstrong Middle School  All Groups  Grade 1   0
1           Branch Elementary School  All Groups  Grade 1  29
2  Central Rayne Kindergarten School  All Groups  Grade 1   0
3     Church Point Elementary School  All Groups  Grade 1  93
4           Church Point High School  All Groups  Grade 1   0

In [24]:
# reshape group file
id_vars = ['year', 'district_id', 'district', 'school_id', 'school', 'grade']
value_vars = ['Free/Reduced Lunch', 'Fully Proficient', 'Limited Eng Prof', '**Hawaiian/Pacific Islander', '**Multiple Races (Non-Hispanic)', 'American Indian', 'Asian', 'Black', 'White', 'All Groups', 'Hispanic']
df_group = pd.melt(df_group, id_vars=id_vars, value_vars=value_vars, var_name='group_state', value_name='num')

# remove zeros
df_group = df_group[df_group['num'] != '0']
print(df_group.head(5))

   year district_id       district school_id  \
0  2010           1  Acadia Parish      1001
1  2010           1  Acadia Parish      1002
2  2010           1  Acadia Parish      1003
3  2010           1  Acadia Parish      1004
4  2010           1  Acadia Parish      1005

                              school       grade         group_state  num
0            Armstrong Middle School  All Grades  Free/Reduced Lunch  288
1           Branch Elementary School  All Grades  Free/Reduced Lunch  151
2  Central Rayne Kindergarten School  All Grades  Free/Reduced Lunch  180
3     Church Point Elementary School  All Grades  Free/Reduced Lunch  513
4           Church Point High School  All Grades  Free/Reduced Lunch  265

In [25]:
# append grade & group files
df = df_grade.append(df_group, ignore_index = True, sort = True)

In [26]:
# drop null records
def toInt(row, column):
    try:
        return int(row[column])
    except:
        return np.nan
df['num'] = df.apply(lambda x: toInt(x, 'num'), axis = 1)
print(df.shape)
df = df.dropna(subset=['num'])
df = df[df['num'] != 0]
print(df.shape)

(374558, 8)
(214783, 8)

In [27]:
# unify data types
print(df.dtypes)
df['num'] = df['num'].astype('int64')
print(df.dtypes)

district        object
district_id     object
grade           object
group_state     object
num            float64
school          object
school_id       object
year            object
dtype: object
district       object
district_id    object
grade          object
group_state    object
num             int64
school         object
school_id      object
year           object
dtype: object

In [28]:
print(df['group_state'].drop_duplicates())

1                              All Groups
218425                 Free/Reduced Lunch
232884                   Fully Proficient
247343                   Limited Eng Prof
263342        **Hawaiian/Pacific Islander
277762    **Multiple Races (Non-Hispanic)
290381                    American Indian
303519                              Asian
317031                              Black
331467                              White
360303                           Hispanic
Name: group_state, dtype: object

In [29]:
# export file
df.to_csv('./data/finalized/la_enrollment.csv', index=False)