In [40]:
import pandas as pd
import numpy as np
import util

proficiency_path = './data/nj/proficiency/'

proficiency_files_ungraded = [
    'nj_proficiency_2019_cleaned_math_geo.csv'
    , 'nj_proficiency_2017_cleaned_math_alg1.csv'
    , 'nj_proficiency_2017_cleaned_math_alg2.csv'
    , 'nj_proficiency_2017_cleaned_math_geo.csv'
    , 'nj_proficiency_2018_cleaned_math_alg1.csv'
    , 'nj_proficiency_2018_cleaned_math_alg2.csv'
    , 'nj_proficiency_2018_cleaned_math_geo.csv'
    , 'nj_proficiency_2019_cleaned_math_alg1.csv'
    , 'nj_proficiency_2019_cleaned_math_alg2.csv'
]

years_ungraded = [x[15:19] for x in proficiency_files_ungraded]

proficiency_files_graded = [
    'nj_proficiency_2017_cleaned_ela_03.csv'
    , 'nj_proficiency_2017_cleaned_ela_04.csv'
    , 'nj_proficiency_2017_cleaned_ela_05.csv'
    , 'nj_proficiency_2017_cleaned_ela_06.csv'
    , 'nj_proficiency_2017_cleaned_ela_07.csv'
    , 'nj_proficiency_2017_cleaned_ela_08.csv'
    , 'nj_proficiency_2017_cleaned_ela_09.csv'
    , 'nj_proficiency_2017_cleaned_ela_10.csv'
    , 'nj_proficiency_2017_cleaned_ela_11.csv'
    , 'nj_proficiency_2017_cleaned_math_03.csv'
    , 'nj_proficiency_2017_cleaned_math_04.csv'
    , 'nj_proficiency_2017_cleaned_math_05.csv'
    , 'nj_proficiency_2017_cleaned_math_06.csv'
    , 'nj_proficiency_2017_cleaned_math_07.csv'
    , 'nj_proficiency_2017_cleaned_math_08.csv'
    , 'nj_proficiency_2018_cleaned_ela_03.csv'
    , 'nj_proficiency_2018_cleaned_ela_04.csv'
    , 'nj_proficiency_2018_cleaned_ela_05.csv'
    , 'nj_proficiency_2018_cleaned_ela_06.csv'
    , 'nj_proficiency_2018_cleaned_ela_07.csv'
    , 'nj_proficiency_2018_cleaned_ela_08.csv'
    , 'nj_proficiency_2018_cleaned_ela_09.csv'
    , 'nj_proficiency_2018_cleaned_ela_10.csv'
    , 'nj_proficiency_2018_cleaned_ela_11.csv'
    , 'nj_proficiency_2018_cleaned_math_03.csv'
    , 'nj_proficiency_2018_cleaned_math_04.csv'
    , 'nj_proficiency_2018_cleaned_math_05.csv'
    , 'nj_proficiency_2018_cleaned_math_06.csv'
    , 'nj_proficiency_2018_cleaned_math_07.csv'
    , 'nj_proficiency_2018_cleaned_math_08.csv'
    , 'nj_proficiency_2019_cleaned_ela_03.csv'
    , 'nj_proficiency_2019_cleaned_ela_04.csv'
    , 'nj_proficiency_2019_cleaned_ela_05.csv'
    , 'nj_proficiency_2019_cleaned_ela_06.csv'
    , 'nj_proficiency_2019_cleaned_ela_07.csv'
    , 'nj_proficiency_2019_cleaned_ela_08.csv'
    , 'nj_proficiency_2019_cleaned_ela_09.csv'
    , 'nj_proficiency_2019_cleaned_ela_10.csv'
    , 'nj_proficiency_2019_cleaned_math_03.csv'
    , 'nj_proficiency_2019_cleaned_math_04.csv'
    , 'nj_proficiency_2019_cleaned_math_05.csv'
    , 'nj_proficiency_2019_cleaned_math_06.csv'
    , 'nj_proficiency_2019_cleaned_math_07.csv'
    , 'nj_proficiency_2019_cleaned_math_08.csv'
]

# create list of all subjects, years, and grades
subjects_graded = [y[:-7] for y in [x[28:] for x in proficiency_files_graded]]
subjects_graded = ['Math' if x == 'math' else 'ELA' for x in subjects_graded]
years_graded = [x[15:19] for x in proficiency_files_graded]
grades = [x[:-4] for x in [y[-6:] for y in proficiency_files_graded]]

# import ungraded files
df_ungraded = pd.read_csv(proficiency_path + proficiency_files_ungraded[0])
df_ungraded['year'] = df_ungraded.apply(lambda x: years_ungraded[0], axis=1)

for i in range(1, len(proficiency_files_ungraded)):
    df2 = pd.read_csv(proficiency_path + proficiency_files_ungraded[i])
    df2['year'] = df2.apply(lambda x: years_ungraded[i], axis=1)
    df_ungraded = df_ungraded.append(df2, ignore_index = True, sort=True)

df_ungraded['grade'] = df_ungraded.apply(lambda x: 'HS/EOC', axis=1)
df_ungraded['subject'] = df_ungraded.apply(lambda x: 'Math', axis=1)
    
# import graded files
df_graded = pd.read_csv(proficiency_path + proficiency_files_graded[0])
df_graded['year'] = df_graded.apply(lambda x: years_graded[0], axis=1)
df_graded['grade'] = df_graded.apply(lambda x: 'GRADE - ' + grades[0], axis=1)
df_graded['subject'] = df_graded.apply(lambda x: subjects_graded[0], axis=1)

for i in range(1, len(proficiency_files_graded)):
    df2 = pd.read_csv(proficiency_path + proficiency_files_graded[i])
    df2['year'] = df2.apply(lambda x: years_graded[i], axis=1)
    df2['grade'] = df2.apply(lambda x: 'GRADE - ' + grades[i], axis=1)
    df2['subject'] = df2.apply(lambda x: subjects_graded[i], axis=1)
    df_graded = df_graded.append(df2, ignore_index = True, sort=True)

# append both graded and ungraded files
df = df_graded.append(df_ungraded, ignore_index = True, sort = True)

In [41]:
# remove rows where school is null
print(df.shape)
df = df[~df['school_id'].isna()]
print(df.shape)

# remove rows where num_tested = *
df = df[df['num_tested'] != '*']
print(df.shape)

(999650, 22)
(636077, 22)
(337216, 22)

In [42]:
# filter dataset down to subgroups we want
df['SUBGROUP'] = df['SUBGROUP'].str.upper()
print(df.shape)
df = df[(df['SUBGROUP'] != 'GRADE') & (df['SUBGROUP'] != 'GENDER')]
print(df.shape)

(337216, 22)
(245229, 22)

In [43]:
# reshape nongrades numbers
df['group_state'] = df['group_state'].str.upper()
df['group_state'] = [x if x != 'ALL STUDENTS' else 'All Groups' for x in df['group_state']]
df = pd.melt(df, id_vars=['year', 'district_id', 'district', 'school_id', 'school', 'grade', 'group_state', 'subject', 'num_tested']
        , value_vars=[
            'Approaching Expectations'
            , 'Exceeding Expectations'
            , 'Meeting Expectations'
            , 'Not Yet Meeting Expectations'
            , 'Partially Meeting Expectations'],
        var_name='performance_level'
        , value_name='pct_at_level')
print(df.head(5))

   year district_id      district  school_id          school       grade  \
0  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
1  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
2  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
3  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
4  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03

                 group_state subject num_tested         performance_level  \
0                 All Groups     ELA         91  Approaching Expectations
1                      WHITE     ELA         57  Approaching Expectations
2           AFRICAN AMERICAN     ELA         15  Approaching Expectations
3                   HISPANIC     ELA         12  Approaching Expectations
4  ENGLISH LANGUAGE LEARNERS     ELA         11  Approaching Expectations

  pct_at_level
0         30.8
1         29.8
2           40
3         33.3
4         27.3

In [44]:
# turn decimal into a percentage
df['pct_at_level'] = df.apply(lambda x: float(x['pct_at_level']) / 100.0, axis = 1)
print(df.head(5))

   year district_id      district  school_id          school       grade  \
0  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
1  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
2  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
3  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
4  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03

                 group_state subject num_tested         performance_level  \
0                 All Groups     ELA         91  Approaching Expectations
1                      WHITE     ELA         57  Approaching Expectations
2           AFRICAN AMERICAN     ELA         15  Approaching Expectations
3                   HISPANIC     ELA         12  Approaching Expectations
4  ENGLISH LANGUAGE LEARNERS     ELA         11  Approaching Expectations

   pct_at_level
0         0.308
1         0.298
2         0.400
3         0.333
4         0.273

In [45]:
# calculate num_at_level
df['num_at_level'] = df.apply(lambda x: int(round(float(x['num_tested']) * x['pct_at_level'])), axis = 1)
print(df.head(5))

   year district_id      district  school_id          school       grade  \
0  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
1  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
2  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
3  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03
4  2017          10  ABSECON CITY       60.0  H ASHTON MARSH  GRADE - 03

                 group_state subject num_tested         performance_level  \
0                 All Groups     ELA         91  Approaching Expectations
1                      WHITE     ELA         57  Approaching Expectations
2           AFRICAN AMERICAN     ELA         15  Approaching Expectations
3                   HISPANIC     ELA         12  Approaching Expectations
4  ENGLISH LANGUAGE LEARNERS     ELA         11  Approaching Expectations

   pct_at_level  num_at_level
0         0.308            28
1         0.298            17
2         0.400             6
3         0.333             4
4         0.273             3

In [46]:
# add proficient_tf
print(df.shape)
df['proficient_tf'] = [1 if x == 'Meeting Expectations' or x == 'Exceeding Expectations' else 0 for x in df['performance_level']]
df = df[df['proficient_tf'] == 1]
print(df.shape)

(1226145, 12)
(490458, 13)

In [47]:
# convert num_at_level and num_tested to float
def toFloat(row, column):
    try:
        return float(row[column])
    except:
        return np.nan
df['num_tested'] = df.apply(lambda x: toFloat(x, 'num_tested'), axis = 1)
df['num_at_level'] = df.apply(lambda x: toFloat(x, 'num_at_level'), axis = 1)

In [48]:
# roll up num_at_level and recalculate pct_at_level, to accomodate for the subject and grade mapping done on the ungraded files
grouped_by = ['year', 'district_id', 'district', 'school_id', 'school', 'grade', 'group_state', 'subject', 'proficient_tf']
df1 = df.groupby(grouped_by, as_index = False)['num_tested'].sum()
df2 = df.groupby(grouped_by, as_index = False)['num_at_level'].sum()
df = df1.merge(df2, on = grouped_by)
del df1
del df2
print(df.head(5))

   year district_id      district  school_id          school       grade  \
0  2017        0010  ABSECON CITY       50.0  EMMA C ATTALES  GRADE - 05
1  2017        0010  ABSECON CITY       50.0  EMMA C ATTALES  GRADE - 05
2  2017        0010  ABSECON CITY       50.0  EMMA C ATTALES  GRADE - 05
3  2017        0010  ABSECON CITY       50.0  EMMA C ATTALES  GRADE - 05
4  2017        0010  ABSECON CITY       50.0  EMMA C ATTALES  GRADE - 05

                  group_state subject  proficient_tf  num_tested  num_at_level
0            AFRICAN AMERICAN     ELA              1        30.0           7.0
1            AFRICAN AMERICAN    Math              1        30.0           3.0
2                  All Groups     ELA              1       164.0          50.0
3                  All Groups    Math              1       170.0          30.0
4  ECONOMICALLY DISADVANTAGED     ELA              1        58.0          11.0

In [49]:
# remove rows with no scores
print(df.shape)
df = df.dropna(subset=['num_tested', 'num_at_level'])
print(df.shape)

(232660, 11)
(232660, 11)

In [50]:
# create 'All' grades rollup
grouped_by = ['year', 'district_id', 'district', 'school_id', 'school', 'group_state', 'subject', 'proficient_tf']
df_allgrades = df.groupby(grouped_by, as_index=False)['num_at_level'].sum()
print(df_allgrades.shape)
df_allgrades2 = df.groupby(grouped_by, as_index=False)['num_tested'].sum()
print(df_allgrades2.shape)
df_allgrades = df_allgrades.merge(df_allgrades2, on=grouped_by)
print(df_allgrades.shape)
del df_allgrades2
df_allgrades['grade'] = 'All Grades'

(90882, 9)
(90882, 9)
(90882, 10)

In [51]:
# append df_allgrades to df
print(df.shape)
df = df.append(df_allgrades, ignore_index=True, sort=True)
print(df.shape)

(232660, 11)
(323542, 11)

In [52]:
# calculate new pct_at_level
df['pct_at_level'] = df.apply(lambda x: x['num_at_level'] / x['num_tested'], axis = 1)
print(df.head(5))

       district district_id       grade                 group_state  \
0  ABSECON CITY        0010  GRADE - 05            AFRICAN AMERICAN
1  ABSECON CITY        0010  GRADE - 05            AFRICAN AMERICAN
2  ABSECON CITY        0010  GRADE - 05                  All Groups
3  ABSECON CITY        0010  GRADE - 05                  All Groups
4  ABSECON CITY        0010  GRADE - 05  ECONOMICALLY DISADVANTAGED

   num_at_level  num_tested  proficient_tf          school  school_id subject  \
0           7.0        30.0              1  EMMA C ATTALES       50.0     ELA
1           3.0        30.0              1  EMMA C ATTALES       50.0    Math
2          50.0       164.0              1  EMMA C ATTALES       50.0     ELA
3          30.0       170.0              1  EMMA C ATTALES       50.0    Math
4          11.0        58.0              1  EMMA C ATTALES       50.0     ELA

   year  pct_at_level
0  2017      0.233333
1  2017      0.100000
2  2017      0.304878
3  2017      0.176471
4  2017      0.189655

In [53]:
print(df.dtypes)
df['school_id'] = df['school_id'].astype('int64')
df['school_id'] = df['school_id'].astype(str)
df['proficient_tf'] = df['proficient_tf'].astype(bool)
print(df.dtypes)

district          object
district_id       object
grade             object
group_state       object
num_at_level     float64
num_tested       float64
proficient_tf      int64
school            object
school_id        float64
subject           object
year              object
pct_at_level     float64
dtype: object
district          object
district_id       object
grade             object
group_state       object
num_at_level     float64
num_tested       float64
proficient_tf       bool
school            object
school_id         object
subject           object
year              object
pct_at_level     float64
dtype: object

In [54]:
print(df.head(5))

       district district_id       grade                 group_state  \
0  ABSECON CITY        0010  GRADE - 05            AFRICAN AMERICAN
1  ABSECON CITY        0010  GRADE - 05            AFRICAN AMERICAN
2  ABSECON CITY        0010  GRADE - 05                  All Groups
3  ABSECON CITY        0010  GRADE - 05                  All Groups
4  ABSECON CITY        0010  GRADE - 05  ECONOMICALLY DISADVANTAGED

   num_at_level  num_tested  proficient_tf          school school_id subject  \
0           7.0        30.0           True  EMMA C ATTALES        50     ELA
1           3.0        30.0           True  EMMA C ATTALES        50    Math
2          50.0       164.0           True  EMMA C ATTALES        50     ELA
3          30.0       170.0           True  EMMA C ATTALES        50    Math
4          11.0        58.0           True  EMMA C ATTALES        50     ELA

   year  pct_at_level
0  2017      0.233333
1  2017      0.100000
2  2017      0.304878
3  2017      0.176471
4  2017      0.189655

In [55]:
# export final dataset
df.to_csv('./data/finalized/nj_proficiency.csv', index=False)